<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - App</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/App.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/5ca428eb12.js" crossorigin="anonymous"></script>
    <style>
        .app-navbar {
            margin-bottom: 0 !important;
        }
        nav.bg-light {
            margin-top: 0 !important;
        }
        .fa {
            display: inline-block;
            font-size: 1rem;
            font: normal normal normal 14px / 1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            padding: 2px;
            margin: 4px;
        }
        .btn:hover {
            text-decoration: none;
        }
        body {
            font-family: var(--ds-font-family-body,ui-sans-serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Ubuntu,"Helvetica Neue",sans-serif);
            font-size: 1rem;
        }
    </style>
</head>

<body>

    <header>
        <nav
            class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3 app-navbar" styles="background-color: #fff;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item d-flex align-items-center ms-4 me-0">
                            <a href="/" class="btn btn-light shadow-sm m-0 p-0 rounded-2">
                                <img src="~/images/UMT/iRequest.png" alt="Logo" class="img-fluid rounded-2" style="height: 40px !important;" />
                            </a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                IREQUEST SERVICE MANAGEMENT
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="btn m-2">
                        <i class="fa fa-solid fa-gear"></i>
                    </a>
                    <a href="#" class="btn m-2">
                        <i class="fa fa-regular fa-bell"></i>
                    </a>
                    @* <partial name="_LoginPartial" /> *@
                    <partial name="_MenuManagePartial" />

                </div>
            </div>
        </nav>
    </header>

    <div class="d-flex">
        <nav class="bg-light border-end" style="width: 250px; min-height: 100vh;">
            <ul class="nav flex-column p-3">
                <li class="nav-item">
                    <a class="nav-link active text-dark" asp-area="IRequest" asp-controller="Request" asp-action="ViewHome">
                        <i class="fa fa-solid fa-house"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-action="Index" asp-controller="DbManage" asp-area="Database">
                        <i class="fa fa-solid fa-database"></i>
                        Database
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="IRequest" asp-controller="Request" asp-action="Index">
                        <i class="fa fa-solid fa-file"></i>
                        Quản lý yêu cầu
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="IRequest" asp-controller="Status" asp-action="Index">
                        <i class="fa fa-solid fa-gauge"></i>
                        Quản Lý Trạng Thái
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="IRequest" asp-controller="WorkflowStep" asp-action="Index">
                        <i class="fa fa-solid fa-stairs"></i>
                        Quản Lý Bước Quy Trình
                    </a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="IRequest" asp-controller="Workflow" asp-action="Index">
                        <i class="fa fa-solid fa-briefcase"></i>
                        Quản Lý Quy Trình
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="IRequest" asp-controller="Priority" asp-action="Index">
                        <i class="fa fa-solid fa-map-pin"></i>
                        Quản Lý Ưu Tiên
                    </a>
                </li>
                <li class="nav-item"></li>
                    <a class="nav-link text-dark" asp-area="IRequest" asp-controller="Department" asp-action="Index">
                        <i class="fa fa-solid fa-people-roof"></i>
                        Quản Lý Phòng Ban
                    </a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid">
            <main role="main" class="pb-3">
                @if (TempData["StatusMessage"] != null)
                {
                    <div class="container mt-3">
                        @await Html.PartialAsync("_AlertMessage")
                    </div>
                }
                @RenderBody()
            </main>
        </div>
    </div>

    @* <footer class="footer border-top text-muted">
        <div class="container">
            &copy; 2025 - App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
